@model FinanceTracking.Models.Income

@{
    ViewData["Title"] = "Crear entrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear entrada de dinero</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateIncome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Fuente de ingreso</label>
                <select asp-for="IncomeSourceId" class ="form-control" asp-items="ViewBag.incomeSources"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripcion</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Total de entrada</label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de entrada</label>
                <input asp-for="CreationDate" class="form-control" type="date"/>
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Incomes">Volver al listado</a>
</div>

