@model List<FinanceTracking.Models.Expense>
@{
    ViewData["Title"] = "Index";
}

<h2>Gastos</h2>

<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2 right text-right">
        <a asp-action="CreateExpense" class="btn btn-sm btn-primary">Crear gasto</a>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Tipo de gasto</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Expense expense in Model){
        <tr>
            <td>
                @expense.Name
            </td>
            <td>
                @expense.Description
            </td>
            <td>
                @expense.Category.Name
            </td>
            <td>
                $ @expense.Total
            </td>
        </tr>
        }
    </tbody>
</table>